version: "3.8"
services:
  backend:
    build: backend/
    image: equuleus/backend
    environment:
      BACKEND_LOGLEVEL: "DEBUG"
    networks:
      - backend
    ports:
      - "80:80"

  powerdns:
    build: powerdns/
    image: equuleus/powerdns
    environment:
      BACKEND_ENDPOINT: "http://backend/dns"
    networks:
      - backend
    ports:
      - "1053:53"
      - "1053:53/udp"
      - "8081:8081"

networks:
  backend:

#    entrypoint: ["python3", "/broker.py"]
#    ports:
#      - "5000:5000"
#    volumes:
#      - .:/code
#      - logvolume01:/var/log
#    links:
#      - redis
#  redis:
#    image: redis
#volumes:
#  logvolume01: {}