version: "3.8"
services:
  backend:
    build: backend/
    image: equuleus/backend
    deploy:
      replicas: 2
      resources:
        reservations:
          cpus: '1'
          memory: 200M
      update_config:
        parallelism: 2
        delay: 5s
    environment:
      BACKEND_LOGLEVEL: "DEBUG"
    networks:
      - backend
#    ports:
#      - "80:80"

  powerdns:
    build: powerdns/
    image: equuleus/powerdns
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
      resources:
        reservations:
          cpus: '5'
          memory: 1G
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
        order: start-first
    environment:
      BACKEND_ENDPOINT: "http://backend/dns"
    networks:
      - backend
    ports:
      - "1053:53"
      - "1053:53/udp"
      - "8081:8081"

networks:
  backend:

#    entrypoint: ["python3", "/broker.py"]
#    ports:
#      - "5000:5000"
#    volumes:
#      - .:/code
#      - logvolume01:/var/log
#    links:
#      - redis
#  redis:
#    image: redis
#volumes:
#  logvolume01: {}