version: "3.8"
services:
  broker:
    build: broker/
    image: equuleus/broker
    ports:
      - "5560:5560"
      - "5559:5559"
    networks:
      - frontend

  backend:
    build: backend/
    image: equuleus/backend
    environment:
      BROKER_ENDPOINT: "tcp://broker:5559"
      BACKEND_LOGLEVEL: "DEBUG"
    networks:
      - frontend

  powerdns:
    build: powerdns/
    image: equuleus/powerdns
    environment:
      BROKER_ENDPOINT: "tcp://broker:5560"
    ports:
      - "1053:53"
      - "1053:53/udp"
      - "8081:8081"
    networks:
      - frontend
#    entrypoint: echo $BROKER_ENDPOINT

networks:
  frontend:

#    entrypoint: ["python3", "/broker.py"]
#    ports:
#      - "5000:5000"
#    volumes:
#      - .:/code
#      - logvolume01:/var/log
#    links:
#      - redis
#  redis:
#    image: redis
#volumes:
#  logvolume01: {}